[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/PerlinNoise"]
	path = third_party/PerlinNoise
	url = https://github.com/Reputeless/PerlinNoise.git
[submodule "third_party/imgui_sdl"]
	path = third_party/imgui_sdl
	url = https://github.com/mortie/imgui_sdl
[submodule "third_party/imgui-plot"]
	path = third_party/imgui-plot
	url = https://github.com/soulthreads/imgui-plot.git
