[submodule "third-party/cpptoml"]
	path = third-party/cpptoml
	url = https://github.com/skystrife/cpptoml.git
[submodule "third-party/msgpack-c"]
	path = third-party/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third-party/PerlinNoise"]
	path = third-party/PerlinNoise
	url = https://github.com/Reputeless/PerlinNoise.git
[submodule "third-party/imgui_sdl"]
	path = third-party/imgui_sdl
	url = https://github.com/mortie/imgui_sdl
[submodule "third-party/imgui-plot"]
	path = third-party/imgui-plot
	url = https://github.com/soulthreads/imgui-plot.git
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third-party/tracy"]
	path = third-party/tracy
	url = https://github.com/wolfpld/tracy.git
