name: Check

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-22.04]
        compiler: [g++, clang++]
        include:
        - os: ubuntu-24.04
          pkgs: libwxgtk3.2-dev
        - os: ubuntu-22.04
          pkgs:
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - uses: awalsh128/cache-apt-pkgs-action@v1
      with:
        packages: build-essential pkg-config meson cmake clang ${{matrix.pkgs}} libwayland-dev libxkbcommon-dev libx11-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev libz-dev mesa-common-dev libgles-dev
        version: ${{matrix.os}}-3
    - name: setup
      run: CXX=${{matrix.compiler}} make setup && meson configure build -Dwerror=true
    - name: compile
      run: make pfx && make core.mod
    - name: check
      run: make check
